body {
    margin:0;
    font-family:"Montserrat";
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#002d72;
    text-align:left;
    background-color:#FFF;
	max-width:1920px;
	margin:0 auto;
}
.mt30{
	margin-top:30px;
}
a:hover{
	text-decoration:none;
	cursor:pointer;
	transition: all linear .3s;
}
a{	
	transition: all linear .3s;
}


p,ul{
	font-size:18px;
	line-height:22px;
	color:#3c3c3b;
}


.relative{
	position:relative;
}
.container {
	max-width: 100% !important;
}
.mt120{
	margin-top:6vw;
}
.nopadding {
   padding:0 !important;
}

.nopadding-groupe {
  padding-left:0.5vw;
  padding-right:0.5vw;
  
}

.nomargin {
    margin: 30px 0 !important;
}
.nomargin{
	margin-right:0;
	margin-left:0;
}
.padding35{
	padding: 0 35px;
}

header#masthead {   
    background-color: transparent;
    box-shadow: none;
    padding: .74rem 1rem;
    width: 100%;
	z-index:1;
	padding-right: 40px;
	padding-left: 40px;
}
.navbar-brand{
	max-width:75%;
	position: absolute;
	margin-left: 233px;
    margin-top: 20px;
}

.navbar-toggler:not(:disabled):not(.disabled) {    
    z-index: 100000000;}

#main-nav li{
	padding: 0 calc(5vw - 75px);
	z-index: 10;
	text-transform: uppercase;
}

.navbar-light .navbar-toggler {
    color: #FFF !important;
    border: 1px solid #002d72 !important;
    background: #002d72 !important;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a,
body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a{
    color:#928885;
    font-family:"Work Sans Medium";
	padding:0.5rem;
    font-size:16px;
	margin-left:0px;
	-webkit-transition:color .3s ease-in;
    -moz-transition:color .3s ease-in;
    -o-transition:color .3s ease-in;
    transition:color .3s ease-in;
	font-weight: 400;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover, body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {		
		font-weight: 400;		
	}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover {
	color:#45403f;
	font-weight: initial;
}
	
body:not(.theme-preset-active) #masthead .navbar-nav > #menu-item-24 a{
	color:#1975b0;
}
body:not(.theme-preset-active) #masthead .navbar-nav > #menu-item-24 a:hover{
	color :#0f4d74;
}

.dropdown-toggle:after {
    vertical-align: -0.045em;
    font-size: 16px;
}

#content.site-content {
    z-index: -1;
    padding-bottom:0;
    padding-top:0;
}



#main-img{
	position:relative;
	z-index:-1;
}

#content-img{
	position: absolute;
    width: 100%;
    top: 0;
    margin-top: 10vw;
}

#txt-img{	
    width: 100%;
	height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-img{	
	color:#2b8bcc;
	margin-top: 64px;
	padding: 10px 50px 10px 50px;
	z-index:1;

}
 
#background-img h1{	
	font-family:"Work Sans Medium";
	font-size: 36px;
	color: #8f0022;
	margin-top: 40px;
	text-transform: uppercase;
}

.page  #txt-img,
.archive #txt-img,
.single #txt-img{
	height: 50%;
}

.page #background-img{
	padding: 50px 50px 0px 50px;	
}


#background-img h1 span{	
	font-family:"Montserrat", "sans-serif";
	font-style:italic;
	font-weight:400;
	font-size: calc(1vw + 16px);
	/*font-size: calc(0.7vw + 12px);*/
}

/**********************************HOME PAGE******************************/


.rectangle {
	background-color: rgb(146, 136, 133);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	margin-top: -141px;
	width: auto;
	height: 338px;
	z-index: 109;
}

.rectangle span {
	position:relative;
	font-size: 18px;
	font-family: "Work Sans Medium";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.533;
	text-align: center;
	display:block;
}

.rectangle i {
	color: #1975b0;
	font-size: 10px;
}

.param_line_rec_sgit {
	background-color: rgb(255, 255, 255);
	width: 1px;
	height: 48px;
	z-index: 112;
	margin-left: auto;
	margin-right: auto;
}

.param_rec_sgit {
	margin-top: 16px;
}

.pad-article_2 {
	padding-left: 10px;
	margin-top: 100px;
}

.pad-article_3 {
	padding-left: 20px;
	margin-top: 50px;
}

.title_small_article {
	font-family: Roboto Black;
	font-size: 20px;
	color: #1975b0;
	text-transform: uppercase;
	padding: 0 !important;
	display: inline-block;
	margin-top: 64px;
}
.small_article {
	font-family: Roboto;
	font-size: 16px;
	color: #000000;
	padding: 0 !important;
}

.rectangle_expertise {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	width: 100%;
	z-index: 87;
	margin-left: auto;
	margin-right: auto;
}

.img-first-rectangle {
	padding-top: 71px;
}

.img-scd-rectangle {
	padding-top: 71px;
}

.title-rectangle {
	font-family: "Work Sans Medium";
	font-size: 20px;
	color: #000000;
	text-transform: uppercase;
	padding-top: 19px;
}

.text-scd-rectangle {
	font-family: "Roboto";
	font-size: 16px;
	color: #000000;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	padding-top: 19px;
	padding-bottom: 90px;
}

.text-thd-rectangle {
	font-family: "Roboto";
	font-size: 16px;
	color: #000000;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	padding-top: 19px;
	padding-bottom: 57px;
}

.button-rectangle {
	background-color: rgb(146, 136, 133);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	margin-left: auto;
	margin-right: auto;
	width: 219px;
	z-index: 108;
	margin-top: -41px;
}

.text-button-rectangle {
	font-size: 14px;
	font-family: "Work Sans Medium";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.714;
	text-align: center;
	z-index: 109;
	margin: 0;
	padding: 13px 34px;
}

.circle-img {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	width: 370px;
	height: 370px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-right: 3px;
	font-size: 20px;
	font-family: "Work Sans Medium";
	color: rgb(146, 136, 133);
	text-transform: uppercase;
	line-height: 1.5;
	text-align: center;
	z-index: 85;
}

.circle-blue {
	border-radius: 50%;
	background-color: rgb(85, 163, 215);
	width: 374px;
	height: 374px;
	z-index: 83;
	margin-left: -129px;
}

.title-article-hp {
	font-size: 24px;
	font-family: "Work Sans SemiBold";
	color: rgb(25, 117, 176);
	text-transform: uppercase;
	line-height: 1.25;
	text-align: left;
	z-index: 36;
}
.text-article-hp {
	text-align: left;
	color: #000000;
	font-size: 16px;
	font-family: Roboto;
}

.scd-circle-img {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	width: 190px;
	height: 190px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-right: 3px;
	font-size: 20px;
	font-family: "Work Sans Medium";
	color: rgb(146, 136, 133);
	text-transform: uppercase;
	line-height: 1.182;
	text-align: center;
	z-index: 85;}

.scd-circle-blue {
	border-radius: 50%;
	background-color: rgb(85, 163, 215);
	width: 195px;
	height: 195px;
	z-index: 83;
}

.text-carousel {
	font-family: "Roboto Light";
	font-style: italic;
	font-size: 16px;
	color: #FFFFFF;
	padding: 64px 73px;
}

.firstname-carousel {
	font-family: "Roboto";
	color: #FFFFFF;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: -6px;
}

.job-carousel {
	font-family: "Roboto";
	font-size: 16px;
	color: #ffffff;
	margin: 12px -25px 22px -25px;
}

.modif_col {
	margin-left: -200px;
}

.trait-engagement {
	background-color: rgb(146, 136, 133);
	width: 346px;
	height: 1px;
	margin-left: -16px;
}

.text-trait {
	text-align: left;
	font-family: "Work Sans SemiBold";
	font-size: 24px;
	color: #928885;
	padding-left: 39px;
	text-transform: uppercase;
	margin-top: -31px;
	line-height: 1.25;
}

.first-rectangle-engagement {
	border-width: 1px;
	border-color: rgb(23, 114, 174);
	border-style: solid;
	width: 400px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 37px;
}

.scd-rectangle-engagement {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	width: 319px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -18px;
}

.thd-rectangle-engagement {
	background-color: rgb(25, 117, 176);
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 37px;
}

.fourth-rectangle-engagement {
	background-color: rgb(25, 117, 176);
	width: 319px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 37px;
	margin-bottom: 37px;
}

.fifth-rectangle-engagement {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	width: 319px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 37px;
}

.sixth-rectangle-engagement {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	width: 319px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 37px;
}

.title-first-rectangle-engagement {
	font-size: 20px;
	font-family: "Work Sans Medium";
	color: rgb(23, 114, 174);
	text-transform: uppercase;
	text-align: left;
	padding-left: 30px;
	padding-top: 25px;
	line-height: 1.2;
}

.text-first-rectangle-engagement {
	font-size: 16px;
	font-family: "Roboto";
	color: rgb(23, 114, 174);
	line-height: 1.5;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 9px;
}

.title-scd-rectangle-engagement {
	font-size: 20px;
	font-family: "Work Sans Medium";
	color: rgb(146, 136, 133);
	text-transform: uppercase;
	line-height: 1.2;	text-align: left;
	padding-left: 30px;
	padding-top: 25px;
}

.text-scd-rectangle-engagement {
	font-size: 16px;
	font-family: "Roboto";
	color: #000000;
	line-height: 1.5;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 9px;
	padding-bottom: 23px;
}

.title-thd-rectangle-engagement {
	font-size: 20px;
	font-family: "Work Sans Medium";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	padding-left: 30px;
	padding-top: 25px;
}

.text-thd-rectangle-engagement {
	font-size: 16px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 9px;
	padding-bottom: 23px;
}

.confettis-bottom{
	position:absolute;
	bottom: 21px;
    right: -47px;
}

footer{
	background:#928885;
	padding: 50px 0;
	margin-top: 60px;
}
footer img{
	margin-top: 17px;
}
.footer-text{
	justify-content: center;
	align-items: center;
	padding-left:20px;
	text-align:left;
	padding-top: 22px;
	display: inline;
}
.footer-text a{
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 0.8;
	font-family: "Work Sans Medium";
	display: block;
	-webkit-transition: color .3s ease-in;
	-moz-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	transition: color .3s ease-in;
	padding: 3px 0;
	letter-spacing: 1px;
	margin-right: -24px;
}
.footer-text a:hover{
	color:#1772ae;
}

.modif_col_2 {
	margin-top: 130px;
}

.modif_col_4 {
	z-index: 108;
	margin-top: auto;
	margin-bottom: auto;
}
.modif_img {
	margin-left: -30px;
}

.img_engagement_1 {
	max-width: none;
}
.img_engagement_2 {
	max-width: none;
}
.img_engagement_3 {
	max-width: none;
}
/**********************************QUI SOMMES NOUS******************************/
.title_qsn {
	font-family: "Work Sans Medium" !important;
	font-size: 24px !important;
	color: #ffffff !important;
	margin-top: -22px !important;
	text-transform: uppercase !important;
}

.title_qsn span{
	font-family: "Work Sans Medium" !important;
	font-size: 32px !important;
	font-style: normal !important;
}

.trait-qsn {
	background-color: rgb(146, 136, 133);
	width: 470px;
	height: 1px;
	margin-left: -16px;
}

.text_resume {
	font-family: Roboto;
	font-size: 16px;
	color: #000000;
	padding: 0 0 0 39px !important;
	text-align: left;
	margin-top: 40px;
	margin-right: -37px;
}

.circle_qsn_1 {
	background-image: url(../../uploads/2019/08/rond_qsn_1.png);
	width: 292px;
	height: 292px;
	/* margin-left: 65px; */
	/* margin-top: -56px; */
	position: absolute;
	left: 82px;
	bottom: 32px;
}

.circle_qsn_2 {
	background-image: url(../../uploads/2019/08/rond_qsn_2.png);
	width: 195px;
	height: 195px;
	/* margin-left: 65px; */
	/* margin-top: -56px; */
	position: absolute;
	right: 185px;
	bottom: -50px;
}

.rectangle_pdg {
	background-color: rgb(146, 136, 133);
	box-shadow: 0px 27px 70px 0px rgba(146, 136, 133, 0.49);
	width: 640px;
	height: 568px;
	z-index: 149;
	margin-left: -315px;
	margin-top: -85px;
	padding-left: 15px;
	padding-right: 15px;
}

.round_face_pdg {
	margin-top: -50px;
	z-index: 151;
	background-image: url(../../uploads/2019/08/tronche_pdg.png);
}

.text_rectangle_pdg {
	font-family: "Roboto Light";
	font-style: italic;
	font-size: 16px;
	color: #FFFFFF;
	padding: 35px 73px;
}

.modif_col_5 {
	margin-top: 200px;
}

.scd-circle-blue_qsn {
	border-radius: 50%;
	background-color: rgb(85, 163, 215);
	width: 195px;
	height: 195px;
	z-index: 83;
	margin-left: 78px;
}

.thd-circle-blue_qsn {
	border-radius: 50%;
	background-color: rgb(85, 163, 215);
	width: 195px;
	height: 195px;
	z-index: 83;
	margin-left: 78px;
	margin-top: -50px;
}

.fourth-circle-blue_qsn {
	border-radius: 50%;
	background-color: rgb(85, 163, 215);
	width: 195px;
	height: 195px;
	z-index: 83;
	margin-left: 78px;
	margin-top: 64px;
}

/**********************************RESPONSIVE******************************/

@media (max-width: 1590px) {
	.text-carousel {
		padding: 28px 23px;
	}
}

@media (max-width: 1456px) and (min-width: 1200px) {
	.modif_col_square_1 {
		margin-left: -138px;
	}
	.modif_col_square_2 {
		margin-left: 69px;
	}
	.modif_col_square_3 {
		margin-left: 69px;
	}
}

@media (max-width: 1468px) {
	.rectangle span {
		font-size: 17px;
	}
	.navbar-brand {
		margin-left: 78px;
	}
	.logo-odalys {
		width: 65%;
	}
	.text-article-hp {
		font-size: 14px;
	}
	.title-article-hp {
		font-size: 20px;
	}
}

@media (max-width: 1430px) {
	.text-scd-rectangle {
		font-size: 13px;
	}
	.title-rectangle {
		font-size: 17px;
	}
}

@media (max-width: 1290px) {
	#background-img {
		margin-top: -20px;
	}
	.rectangle span {
		font-size: 18px;
	}
	.navbar-brand {
		margin-left: 39px;
	}
	.text-scd-rectangle {
		font-size: 11px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.text-article-hp {
		font-size: 13px;
	}
	.title-article-hp {
		font-size: 19px;
	}
}

@media (max-width:1199px) {
	.circle_hp_2 {
		display: none;
	}

	.circle_hp_3 {
		display: none;
	}

	#background-img h1 {
		font-size: 25px;
	}
	.text-scd-rectangle {
		font-size: 16px;
	}
	.title-rectangle {
		font-size: 20px;
	}
	.pad-article_2 {
		margin-top: 50px;
	}
	.circle-blue {
		width: 315px;
		height: 315px;
	}
	.circle-img {
		width: 310px;
		height: 310px;
	}
	.modif_img {
		margin-left: 0;
	}
	.sixth-rectangle-engagement {
		margin-bottom: 52px;
	}
	.pad-article_2 {
		padding-left: 0;
	}
	.pad-article_3 {
		padding-left: 0;
	}
}

@media (max-width: 992px) {
	.rectangle {
		margin-top: 0;
	}
	#background-img {
		margin-top: 24px;
	}
	#background-img h1 {
		font-size: 20px;
	}
	.circle-blue {
		width: 295px;
		height: 295px;
		margin-left: auto;
		margin-right: auto;
	}
	.circle-img {
		width: 290px;
		height: 290px;
		font-size: 16px;
	}
	.modif_col_3 {
		margin-bottom: 40px;
	}
}

@media (max-width: 991px) {
	.modif_col {
		margin-left: unset;
		margin-top: -70px;
	}
}

@media (max-width: 720px) {
	.confettis-top {
		width: 75%;
	}
}

@media (max-width: 575px) {
	.logo-sgit-footer {
		width: 55%;
	}
	.modif_col_2 {
		margin-top: 50px;
	}
	.modif_col_4 {
		margin-bottom: -60px;
	}
}

@media (max-width: 540px) {
	.circle_hp_1 {
		display: none;
	}
	.rectangle {
		margin-top: 26px;
	}
	.rectangle span {
		font-size: 16px;
	}
	.confettis-top {
		width: 55%;
	}
	#background-img h1 {
		margin-top: 25px;
	}
	#background-img {
		margin-top: 43px;
	}
	#background-img h1 {
		font-size: 16px;
	}
}

@media (max-width: 443px) {
	.text-carousel {
		font-size: 12px;
	}
	.firstname-carousel {
		font-size: 14px;
	}
	.job-carousel {
		font-size: 14px;
	}
	.carousel-caption {
		bottom: -14px;
	}
	.text-trait {
		margin-top: -20px;
		font-size: 16px;
	}
}

@media (max-width: 420px) {
	.rectangle {
		height: 278px;
	}
	.rectangle span {
		font-size: 13px;
	}
	.title_small_article {
		font-size: 16px;
	}
	.small_article {
		font-size: 11px;
	}
	#background-img h1 {
		font-size: 11.7px;
	}
	.text-scd-rectangle {
		font-size: 13px;
	}
	.title-rectangle {
		font-size: 17px;
	}
	.scd-circle-blue {
		width: 135px;
		height: 135px;
	}
	.scd-circle-img {
		font-size: 13px;
		width: 130px;
		height: 130px;
	}
	.title-article-hp {
		font-size: 17px;
	}
	.button-rectangle {
		width: 166px;
	}
}

@media (max-width: 350px) {
	.img_engagement_1 {
		width: 100%;
	}
	.img_engagement_2 {
		width: 100%;
	}
	.img_engagement_3 {
		width: 100%;
	}
	.first-rectangle-engagement {
		width: 290px;
	}
	.scd-rectangle-engagement {
		width: 290px;
	}
	.thd-rectangle-engagement {
		width: 290px;
	}
	.fourth-rectangle-engagement {
		width: 290px;
	}
	.fifth-rectangle-engagement {
		width: 290px;
	}
	.sixth-rectangle-engagement {
		width: 290px;
	}
	.trait-engagement {
		display: none;
	}
}
